<div class="change_pw-form mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-th"></span>
        <%= t "sessions.change_pw" %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 separator"> <br>
          <%= image_tag("4.png", class: "img-thumbnail") %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 box-pw">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <%= f.password_field :password, class: "form-control",
                  placeholder: t("sessions.type_new_pw") %>
              </div>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br>
              <% end %>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                <%= f.password_field :password_confirmation, class: "form-control",
                  placeholder: t("sessions.retype_new_pw") %>
              </div>
            </div>
            <div class="form-group">
              <%= f.submit t("sessions.change_pw"),
                class: "btn btn-primary btn-lg btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

<%= javascript_include_tag "hidden_header", "data-turbolinks-track": "reload" %>
