<p><%= t "sessions.hello" %> <%= @resource.email %>!</p>

<p><%= t "sessions.view_link_change_pw" %></p>

<p><%= link_to t("sessions.change_pw"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "sessions.ignore_email" %></p>
<p><%= t "sessions.access_link_to_change_pw" %></p>
