<!DOCTYPE html>
<html>
  <head>
    <title> <%= t ".title" %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/messages" %>
      <%= yield %>
      <%= javascript_include_tag "header", "data-turbolinks-track": "reload" %>
      <%= javascript_include_tag "searchbox", "data-turbolinks-track": "reload" %>
    </div>
  </body>
</html>
